<a href="https://colab.research.google.com/github/dharma610/Project/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
from scipy.integrate import odeint
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
!pip install mpld3
import mpld3
mpld3.enable_notebook()

Collecting mpld3
  Downloading https://files.pythonhosted.org/packages/66/31/89bd2afd21b920e3612996623e7b3aac14d741537aa77600ea5102a34be0/mpld3-0.5.1.tar.gz (1.0MB)
     |████████████████████████████████| 1.0MB 2.7MB/s
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from mpld3) (2.11.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from mpld3) (3.2.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->mpld3) (1.1.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (1.18.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (2.4.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->mpld3) (1.12.0)
Building wheels for collected packages: mpld3
  Building wheel for mpld3 (setup.py) ... done
  Created wheel for mpld3: filename=mpld3-0.5.1-cp36-none-any.whl size=364065 sha256=400e5b488fb4fb51bbcb1231d37853be31257c68207d59115b7015cf8ac3a162
  Stored in directory: /root/.cache/pip/wheels/38/68/06/d119af6c3f9a2d1e123c1f72d276576b457131b3a7bf94e402
Successfully built mpld3
Installing collected packages: mpld3
Successfully installed mpld3-0.5.1

In [6]:
def deriv(y, t, N, beta, gamma):
    S, I, R = y
    dSdt = -beta * S * I / N
    dIdt = beta * S * I / N - gamma * I
    dRdt = gamma * I
    return dSdt, dIdt, dRdt

In [7]:
def plotsir(t, S, I, R):
  f, ax = plt.subplots(1,1,figsize=(10,4))
  ax.plot(t, S, 'b', alpha=0.7, linewidth=2, label='Susceptible')
  ax.plot(t, I, 'y', alpha=0.7, linewidth=2, label='Infected')
  ax.plot(t, R, 'g', alpha=0.7, linewidth=2, label='Recovered')

  ax.set_xlabel('Time (days)')

  ax.yaxis.set_tick_params(length=0)
  ax.xaxis.set_tick_params(length=0)
  ax.grid(b=True, which='major', c='w', lw=2, ls='-')
  legend = ax.legend()
  legend.get_frame().set_alpha(0.5)
  for spine in ('top', 'right', 'bottom', 'left'):
      ax.spines[spine].set_visible(False)
  plt.show();

In [8]:
import random
gamma = []
for i in range(1000):
    gamma.append(random.uniform(0, 1))

In [9]:
beta = []
for i in range(1000):
  beta.append(2*gamma[i])  #Parameters can be seen as list beta and gamma

In [10]:
P = []
Q = []
M  = []
for i in range(1000): #Plotted for 2 sets
  N = 1000
  S0, I0, R0 = 999, 1, 0  # initial conditions: one infected, rest susceptible
  t = np.linspace(0, 99, 100) # Grid of time points (in days)
  y0 = S0, I0, R0 # Initial conditions vector
  # Integrate the SIR equations over the time grid, t.
  ret = odeint(deriv, y0, t, args=(N, beta[i], gamma[i]))
  S, I, R = ret.T
  P.append(S)
  Q.append(I)
  M.append(R)

In [11]:
import pandas as pd

In [12]:
S_value = pd.DataFrame(P)
S_value.to_csv("Susceptible.csv")

In [13]:
I_value = pd.DataFrame(Q)
I_value.to_csv("Infected.csv")

In [14]:
R_value = pd.DataFrame(M)
R_value.to_csv("Recovered.csv")

In [15]:
S_value

        0           1           2   ...          97          98          99
0    999.0  996.053784  988.846594  ...  202.845900  202.845900  202.845900
1    999.0  997.330753  994.282358  ...  202.845900  202.845900  202.845900
2    999.0  998.700125  998.355467  ...  207.956336  207.547245  207.171003
3    999.0  996.191321  989.506310  ...  202.845900  202.845900  202.845900
4    999.0  996.484604  990.853755  ...  202.845900  202.845900  202.845900
..     ...         ...         ...  ...         ...         ...         ...
995  999.0  997.843738  996.023998  ...  202.845900  202.845900  202.845900
996  999.0  998.264208  997.259242  ...  202.846125  202.846087  202.846055
997  999.0  998.963993  998.927341  ...  989.807066  989.608384  989.406238
998  999.0  996.741715  991.968061  ...  202.845900  202.845900  202.845900
999  999.0  998.520876  997.927502  ...  202.912708  202.904692  202.897638

[1000 rows x 100 columns]

In [16]:
df1 = pd.concat([S_value, S_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [17]:
Df1 = pd.concat([S_value, S_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [18]:
df1["new"].head(1001)

0       988.846594
1       994.282358
2       998.355467
3       989.506310
4       990.853755
           ...
996     997.259242
997     998.927341
998     991.968061
999     997.927502
1000    722.356823
Name: new, Length: 1001, dtype: float64

In [19]:
df2 = pd.concat([I_value, I_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [20]:
Df2 = pd.concat([I_value, I_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [21]:
df2["new"]

0       6.045620e+00
1       3.350867e+00
2       1.321840e+00
3       5.719372e+00
4       5.052331e+00
            ...
9995    1.477279e-07
9996    4.801898e-04
9997    5.378921e+00
9998   -5.642916e-11
9999    1.263303e-01
Name: new, Length: 10000, dtype: float64

In [22]:
df3 = pd.concat([R_value, R_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [23]:
Df3 = pd.concat([R_value, R_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [24]:
df3["new"]

0         5.107785
1         2.366775
2         0.322693
3         4.774319
4         4.093914
           ...
9995    797.154100
9996    797.153292
9997      4.426814
9998    797.154100
9999    796.941503
Name: new, Length: 10000, dtype: float64

In [25]:
data = pd.DataFrame(df1["new"])

In [26]:
data["new"]

0       988.846594
1       994.282358
2       998.355467
3       989.506310
4       990.853755
           ...
9995    202.845900
9996    202.846227
9997    990.194264
9998    202.845900
9999    202.932167
Name: new, Length: 10000, dtype: float64

In [27]:
data["suspectible"] = data["new"]

In [28]:
data["infected"] = df2["new"]

In [29]:
data["recovered"] = df3["new"]

In [30]:
data.drop("new",axis = 1,inplace = True)

In [31]:
data

      suspectible      infected   recovered
0      988.846594  6.045620e+00    5.107785
1      994.282358  3.350867e+00    2.366775
2      998.355467  1.321840e+00    0.322693
3      989.506310  5.719372e+00    4.774319
4      990.853755  5.052331e+00    4.093914
...           ...           ...         ...
9995   202.845900  1.477279e-07  797.154100
9996   202.846227  4.801898e-04  797.153292
9997   990.194264  5.378921e+00    4.426814
9998   202.845900 -5.642916e-11  797.154100
9999   202.932167  1.263303e-01  796.941503

[10000 rows x 3 columns]

In [32]:
df4 = pd.DataFrame(beta)

In [33]:
df5 = pd.DataFrame(gamma)

In [34]:
df4[0]

0      1.816185
1      1.216265
2      0.279756
3      1.759483
4      1.632993
         ...
995    0.914129
996    0.627503
997    0.035723
998    1.515201
999    0.430095
Name: 0, Length: 1000, dtype: float64

In [35]:
df4[1] = df4[0]
df4[2] = df4[0]
df4[3] = df4[0]
df4[4] = df4[0]
df4[5] = df4[0]
df4[6] = df4[0]
df4[7] = df4[0]
df4[8] = df4[0]
df4[9] = df4[0]

In [36]:
df5[1] = df5[0]
df5[2] = df5[0]
df5[3] = df5[0]
df5[4] = df5[0]
df5[5] = df5[0]
df5[6] = df5[0]
df5[7] = df5[0]
df5[8] = df5[0]
df5[9] = df5[0]

In [37]:
df4

            0         1         2  ...         7         8         9
0    1.816185  1.816185  1.816185  ...  1.816185  1.816185  1.816185
1    1.216265  1.216265  1.216265  ...  1.216265  1.216265  1.216265
2    0.279756  0.279756  0.279756  ...  0.279756  0.279756  0.279756
3    1.759483  1.759483  1.759483  ...  1.759483  1.759483  1.759483
4    1.632993  1.632993  1.632993  ...  1.632993  1.632993  1.632993
..        ...       ...       ...  ...       ...       ...       ...
995  0.914129  0.914129  0.914129  ...  0.914129  0.914129  0.914129
996  0.627503  0.627503  0.627503  ...  0.627503  0.627503  0.627503
997  0.035723  0.035723  0.035723  ...  0.035723  0.035723  0.035723
998  1.515201  1.515201  1.515201  ...  1.515201  1.515201  1.515201
999  0.430095  0.430095  0.430095  ...  0.430095  0.430095  0.430095

[1000 rows x 10 columns]

In [38]:
df4 = pd.concat([df4, df4.T.stack().reset_index(name='new')['new']], axis=1)

In [39]:
df5 = pd.concat([df5, df5.T.stack().reset_index(name='new')['new']], axis=1)

In [40]:
data["beta"] = df4["new"]

In [41]:
data["gamma"] = df5["new"]

In [42]:
data

      suspectible      infected   recovered      beta     gamma
0      988.846594  6.045620e+00    5.107785  1.816185  0.908093
1      994.282358  3.350867e+00    2.366775  1.216265  0.608132
2      998.355467  1.321840e+00    0.322693  0.279756  0.139878
3      989.506310  5.719372e+00    4.774319  1.759483  0.879742
4      990.853755  5.052331e+00    4.093914  1.632993  0.816497
...           ...           ...         ...       ...       ...
9995   202.845900  1.477279e-07  797.154100  0.914129  0.457065
9996   202.846227  4.801898e-04  797.153292  0.627503  0.313752
9997   990.194264  5.378921e+00    4.426814  0.035723  0.017861
9998   202.845900 -5.642916e-11  797.154100  1.515201  0.757600
9999   202.932167  1.263303e-01  796.941503  0.430095  0.215048

[10000 rows x 5 columns]

In [43]:
data["recovered(O)"] = Df3["new"]

In [44]:
data["infected(O)"] = Df2["new"]

In [45]:
data["suspectible(O)"] = Df1["new"]

In [46]:
data

      suspectible      infected  ...   infected(O)  suspectible(O)
0      988.846594  6.045620e+00  ...  1.449376e+01      971.601965
1      994.282358  3.350867e+00  ...  6.094350e+00      988.748017
2      998.355467  1.321840e+00  ...  1.519511e+00      997.959394
3      989.506310  5.719372e+00  ...  1.337379e+01      973.906445
4      990.853755  5.052331e+00  ...  1.116270e+01      978.439265
...           ...           ...  ...           ...             ...
9995   202.845900  1.477279e-07  ...  1.130647e-07      202.845900
9996   202.846227  4.801898e-04  ...  3.985035e-04      202.846172
9997   990.194264  5.378921e+00  ...  5.473924e+00      990.002341
9998   202.845900 -5.642916e-11  ... -5.551872e-11      202.845900
9999   202.932167  1.263303e-01  ...  1.111777e-01      202.921817

[10000 rows x 8 columns]

In [64]:
X = data[["suspectible","infected","recovered","beta"]]
y = data[["recovered(O)","infected(O)","suspectible(O)"]]

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [67]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense,Activation
from keras.optimizers import Adam
# load the dataset
# define the keras model
model = Sequential()
model.add(Dense(50, input_dim=4, activation='relu'))
model.add(Dense(20, activation='relu'))
model.add(Dense(20,  activation='relu'))
model.add(Dense(20,  activation='relu'))
model.add(Dense(10,  activation='relu'))
model.add(Dense(10,  activation='relu'))
model.add(Dense(10,  activation='relu'))
model.add(Dense(10,  activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(3, activation='relu'))
# compile the keras model
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss='mean_squared_error', optimizer=opt, metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=20, batch_size=10)

Epoch 1/20
8000/8000 [==============================] - 1s 154us/step - loss: 4115.9764 - accuracy: 0.9886
Epoch 2/20
8000/8000 [==============================] - 1s 147us/step - loss: 1366.5049 - accuracy: 0.9939
Epoch 3/20
8000/8000 [==============================] - 1s 146us/step - loss: 1418.9397 - accuracy: 0.9937
Epoch 4/20
8000/8000 [==============================] - 1s 148us/step - loss: 1372.8474 - accuracy: 0.9940
Epoch 5/20
8000/8000 [==============================] - 1s 146us/step - loss: 1344.0749 - accuracy: 0.9948
Epoch 6/20
8000/8000 [==============================] - 1s 151us/step - loss: 1166.3661 - accuracy: 0.9945
Epoch 7/20
8000/8000 [==============================] - 1s 148us/step - loss: 1185.0250 - accuracy: 0.9967
Epoch 8/20
8000/8000 [==============================] - 1s 146us/step - loss: 1119.8485 - accuracy: 0.9966
Epoch 9/20
8000/8000 [==============================] - 1s 149us/step - loss: 1028.1242 - accuracy: 0.9973
Epoch 10/20
8000/8000 [==============================] - 1s 146us/step - loss: 1268.5724 - accuracy: 0.9951
Epoch 11/20
8000/8000 [==============================] - 1s 152us/step - loss: 1006.8278 - accuracy: 0.9977
Epoch 12/20
8000/8000 [==============================] - 1s 154us/step - loss: 1008.5891 - accuracy: 0.9977
Epoch 13/20
8000/8000 [==============================] - 1s 148us/step - loss: 998.0667 - accuracy: 0.9973
Epoch 14/20
8000/8000 [==============================] - 1s 149us/step - loss: 1005.1013 - accuracy: 0.9984
Epoch 15/20
8000/8000 [==============================] - 1s 148us/step - loss: 1004.9581 - accuracy: 0.9976
Epoch 16/20
8000/8000 [==============================] - 1s 146us/step - loss: 1291.4043 - accuracy: 0.9959
Epoch 17/20
8000/8000 [==============================] - 1s 148us/step - loss: 991.7925 - accuracy: 0.9973
Epoch 18/20
8000/8000 [==============================] - 1s 146us/step - loss: 1055.8611 - accuracy: 0.9966
Epoch 19/20
8000/8000 [==============================] - 1s 149us/step - loss: 1009.3979 - accuracy: 0.9983
Epoch 20/20
8000/8000 [==============================] - 1s 145us/step - loss: 1010.5324 - accuracy: 0.9989

In [68]:
# evaluate the keras model
_, accuracy = model.evaluate(X_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

2000/2000 [==============================] - 0s 30us/step
Accuracy: 99.95