<a href="https://colab.research.google.com/github/dharma610/Project/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from scipy.integrate import odeint
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
!pip install mpld3
import mpld3
mpld3.enable_notebook()

Collecting mpld3
  Downloading https://files.pythonhosted.org/packages/66/31/89bd2afd21b920e3612996623e7b3aac14d741537aa77600ea5102a34be0/mpld3-0.5.1.tar.gz (1.0MB)
     |████████████████████████████████| 1.0MB 2.8MB/s
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from mpld3) (2.11.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from mpld3) (3.2.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->mpld3) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (1.2.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (1.18.5)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib->mpld3) (1.12.0)
Building wheels for collected packages: mpld3
  Building wheel for mpld3 (setup.py) ... done
  Created wheel for mpld3: filename=mpld3-0.5.1-cp36-none-any.whl size=364065 sha256=a9fa13c10bc019ae02b21c5473d78b00ec3f0deb839d74fbbc5fa1c288462efb
  Stored in directory: /root/.cache/pip/wheels/38/68/06/d119af6c3f9a2d1e123c1f72d276576b457131b3a7bf94e402
Successfully built mpld3
Installing collected packages: mpld3
Successfully installed mpld3-0.5.1

In [3]:
def deriv(y, t, N, beta, gamma):
    S, I, R = y
    dSdt = -beta * S * I / N
    dIdt = beta * S * I / N - gamma * I
    dRdt = gamma * I
    return dSdt, dIdt, dRdt

In [4]:
def plotsir(t, S, I, R):
  f, ax = plt.subplots(1,1,figsize=(10,4))
  ax.plot(t, S, 'b', alpha=0.7, linewidth=2, label='Susceptible')
  ax.plot(t, I, 'y', alpha=0.7, linewidth=2, label='Infected')
  ax.plot(t, R, 'g', alpha=0.7, linewidth=2, label='Recovered')

  ax.set_xlabel('Time (days)')

  ax.yaxis.set_tick_params(length=0)
  ax.xaxis.set_tick_params(length=0)
  ax.grid(b=True, which='major', c='w', lw=2, ls='-')
  legend = ax.legend()
  legend.get_frame().set_alpha(0.5)
  for spine in ('top', 'right', 'bottom', 'left'):
      ax.spines[spine].set_visible(False)
  plt.show();

In [5]:
import random
gamma = []
for i in range(1000):
    gamma.append(random.uniform(0, 1))

In [6]:
beta = []
for i in range(1000):
  beta.append(2*gamma[i])  #Parameters can be seen as list beta and gamma

In [7]:
P = []
Q = []
M  = []
for i in range(1000): #Plotted for 2 sets
  N = 1000
  S0, I0, R0 = 999, 1, 0  # initial conditions: one infected, rest susceptible
  t = np.linspace(0, 99, 100) # Grid of time points (in days)
  y0 = S0, I0, R0 # Initial conditions vector
  # Integrate the SIR equations over the time grid, t.
  ret = odeint(deriv, y0, t, args=(N, beta[i], gamma[i]))
  S, I, R = ret.T
  P.append(S)
  Q.append(I)
  M.append(R)

In [8]:
import pandas as pd

In [9]:
S_value = pd.DataFrame(P)
S_value.to_csv("Susceptible.csv")

In [10]:
I_value = pd.DataFrame(Q)
I_value.to_csv("Infected.csv")

In [11]:
R_value = pd.DataFrame(M)
R_value.to_csv("Recovered.csv")

In [12]:
S_value

        0           1           2   ...          97          98          99
0    999.0  998.694910  998.343465  ...  207.327789  206.963590  206.629067
1    999.0  997.732747  995.668954  ...  202.845900  202.845900  202.845900
2    999.0  997.212044  993.842862  ...  202.845900  202.845900  202.845900
3    999.0  998.521139  997.928153  ...  202.913118  202.905057  202.897963
4    999.0  998.878115  998.748826  ...  671.684645  661.332495  650.944827
..     ...         ...         ...  ...         ...         ...         ...
995  999.0  996.237971  989.726050  ...  202.845900  202.845900  202.845900
996  999.0  998.186009  997.042696  ...  202.845944  202.845936  202.845929
997  999.0  996.129764  989.213231  ...  202.845900  202.845900  202.845900
998  999.0  997.980964  996.446260  ...  202.845900  202.845900  202.845900
999  999.0  996.295146  989.992580  ...  202.845900  202.845900  202.845900

[1000 rows x 100 columns]

In [25]:
column_1 = S_value.sample(10, axis=1)

In [26]:
column_1

             15          29          43  ...          45          37          96
0    984.431428  895.751582  607.187438  ...  558.301352  753.215303  207.724313
1    414.750297  206.229159  202.902315  ...  202.877345  203.171725  202.845900
2    258.450755  203.107588  202.847172  ...  202.846494  202.858374  202.845900
3    953.834065  586.164140  272.045553  ...  256.096078  354.063317  202.922278
4    996.150031  989.972514  976.219822  ...  973.226721  983.448305  681.985606
..          ...         ...         ...  ...         ...         ...         ...
995  209.812479  202.850880  202.845903  ...  202.845901  202.845979  202.845900
996  773.398492  248.707322  205.440111  ...  204.572434  211.669251  202.845954
997  208.536609  202.849274  202.845902  ...  202.845900  202.845948  202.845900
998  594.100522  216.195794  203.273288  ...  203.107617  204.708454  202.845901
999  210.613338  202.852039  202.845904  ...  202.845901  202.846004  202.845900

[1000 rows x 10 columns]

In [29]:
col_2 = list(column_1.columns.values)

In [30]:
col_3 = []
for i in col_2:
  col_3.append(i+1)

In [22]:
df1 = pd.concat([S_value, S_value.sample(10, axis=1).T.stack().reset_index(name='new')['new']], axis=1)

In [23]:
S_value.sample(10, axis=1)

             86          15          38  ...          41          16          24
0    214.254117  984.431428  730.158839  ...  657.089850  981.967364  944.905191
1    202.845900  414.750297  203.089143  ...  202.947114  361.929055  217.550196
2    202.845900  258.450755  202.854427  ...  202.848623  240.526871  204.601131
3    203.119938  953.834065  335.796195  ...  292.780581  943.469751  769.004800
4    778.976155  996.150031  982.405069  ...  978.901433  995.855802  992.768810
..          ...         ...         ...  ...         ...         ...         ...
995  202.845900  209.812479  202.845947  ...  202.845910  206.991376  202.911958
996  202.846314  773.398492  210.037898  ...  206.745109  718.446444  332.623896
997  202.845900  208.536609  202.845928  ...  202.845905  206.188129  202.893763
998  202.845911  594.100522  204.303056  ...  203.543889  524.785621  249.210593
999  202.845900  210.613338  202.845962  ...  202.845913  207.500459  202.924448

[1000 rows x 10 columns]

In [14]:
Df1 = pd.concat([S_value, S_value.sample(10, axis=1).T.stack().reset_index(name='new')['new']], axis=1)

In [ ]:
df1["new"].head(1001)

0       998.218078
1       987.777001
2       992.969229
3       997.543821
4       995.899168
           ...
996     997.281102
997     998.063785
998     995.403014
999     997.852852
1000    995.625973
Name: new, Length: 1001, dtype: float64

In [ ]:
df2 = pd.concat([I_value, I_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [ ]:
Df2 = pd.concat([I_value, I_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [ ]:
df2["new"]

0       1.390416e+00
1       6.574092e+00
2       4.003220e+00
3       1.726829e+00
4       2.546450e+00
            ...
9995    4.253836e-05
9996    5.669272e-04
9997    4.558289e-01
9998    5.290359e-09
9999    6.404288e-02
Name: new, Length: 10000, dtype: float64

In [ ]:
df3 = pd.concat([R_value, R_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [ ]:
Df3 = pd.concat([R_value, R_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [ ]:
df3["new"]

0         0.391506
1         5.648907
2         3.027552
3         0.729350
4         1.554381
           ...
9995    797.154029
9996    797.153146
9997    796.386707
9998    797.154100
9999    797.046332
Name: new, Length: 10000, dtype: float64

In [ ]:
data = pd.DataFrame(df1["new"])

In [ ]:
data["new"]

0       998.218078
1       987.777001
2       992.969229
3       997.543821
4       995.899168
           ...
9995    202.845929
9996    202.846287
9997    203.157464
9998    202.845900
9999    202.889625
Name: new, Length: 10000, dtype: float64

In [ ]:
data["suspectible"] = data["new"]

In [ ]:
data["infected"] = df2["new"]

In [ ]:
data["recovered"] = df3["new"]

In [ ]:
data.drop("new",axis = 1,inplace = True)

In [ ]:
data

      suspectible      infected   recovered
0      998.218078  1.390416e+00    0.391506
1      987.777001  6.574092e+00    5.648907
2      992.969229  4.003220e+00    3.027552
3      997.543821  1.726829e+00    0.729350
4      995.899168  2.546450e+00    1.554381
...           ...           ...         ...
9995   202.845929  4.253836e-05  797.154029
9996   202.846287  5.669272e-04  797.153146
9997   203.157464  4.558289e-01  796.386707
9998   202.845900  5.290359e-09  797.154100
9999   202.889625  6.404288e-02  797.046332

[10000 rows x 3 columns]

In [ ]:
df4 = pd.DataFrame(beta)

In [ ]:
df5 = pd.DataFrame(gamma)

In [ ]:
df4[0]

0      0.330509
1      1.901992
2      1.396435
3      0.548109
4      0.939045
         ...
995    0.713363
996    0.621621
997    0.384612
998    1.032431
999    0.454165
Name: 0, Length: 1000, dtype: float64

In [ ]:
df4[1] = df4[0]
df4[2] = df4[0]
df4[3] = df4[0]
df4[4] = df4[0]
df4[5] = df4[0]
df4[6] = df4[0]
df4[7] = df4[0]
df4[8] = df4[0]
df4[9] = df4[0]

In [ ]:
df5[1] = df5[0]
df5[2] = df5[0]
df5[3] = df5[0]
df5[4] = df5[0]
df5[5] = df5[0]
df5[6] = df5[0]
df5[7] = df5[0]
df5[8] = df5[0]
df5[9] = df5[0]

In [ ]:
df4

            0         1         2  ...         7         8         9
0    0.330509  0.330509  0.330509  ...  0.330509  0.330509  0.330509
1    1.901992  1.901992  1.901992  ...  1.901992  1.901992  1.901992
2    1.396435  1.396435  1.396435  ...  1.396435  1.396435  1.396435
3    0.548109  0.548109  0.548109  ...  0.548109  0.548109  0.548109
4    0.939045  0.939045  0.939045  ...  0.939045  0.939045  0.939045
..        ...       ...       ...  ...       ...       ...       ...
995  0.713363  0.713363  0.713363  ...  0.713363  0.713363  0.713363
996  0.621621  0.621621  0.621621  ...  0.621621  0.621621  0.621621
997  0.384612  0.384612  0.384612  ...  0.384612  0.384612  0.384612
998  1.032431  1.032431  1.032431  ...  1.032431  1.032431  1.032431
999  0.454165  0.454165  0.454165  ...  0.454165  0.454165  0.454165

[1000 rows x 10 columns]

In [ ]:
df4 = pd.concat([df4, df4.T.stack().reset_index(name='new')['new']], axis=1)

In [ ]:
df5 = pd.concat([df5, df5.T.stack().reset_index(name='new')['new']], axis=1)

In [ ]:
data["beta"] = df4["new"]

In [ ]:
data["gamma"] = df5["new"]

In [ ]:
data

      suspectible      infected   recovered      beta     gamma
0      998.218078  1.390416e+00    0.391506  0.330509  0.165254
1      987.777001  6.574092e+00    5.648907  1.901992  0.950996
2      992.969229  4.003220e+00    3.027552  1.396435  0.698217
3      997.543821  1.726829e+00    0.729350  0.548109  0.274055
4      995.899168  2.546450e+00    1.554381  0.939045  0.469522
...           ...           ...         ...       ...       ...
9995   202.845929  4.253836e-05  797.154029  0.713363  0.356682
9996   202.846287  5.669272e-04  797.153146  0.621621  0.310811
9997   203.157464  4.558289e-01  796.386707  0.384612  0.192306
9998   202.845900  5.290359e-09  797.154100  1.032431  0.516216
9999   202.889625  6.404288e-02  797.046332  0.454165  0.227083

[10000 rows x 5 columns]

In [ ]:
data["recovered(O)"] = Df3["new"]

In [ ]:
data["infected(O)"] = Df2["new"]

In [ ]:
data["suspectible(O)"] = Df1["new"]

In [ ]:
data

      suspectible      infected  ...   infected(O)  suspectible(O)
0      998.218078  1.390416e+00  ...  1.639167e+00      997.719561
1      987.777001  6.574092e+00  ...  1.635662e+01      967.755969
2      992.969229  4.003220e+00  ...  7.929367e+00      985.028563
3      997.543821  1.726829e+00  ...  2.267576e+00      996.459065
4      995.899168  2.546450e+00  ...  4.051388e+00      992.872201
...           ...           ...  ...           ...             ...
9995   202.845929  4.253836e-05  ...  3.441268e-05      202.845923
9996   202.846287  5.669272e-04  ...  4.713088e-04      202.846221
9997   203.157464  4.558289e-01  ...  4.066455e-01      203.123807
9998   202.845900  5.290359e-09  ...  3.957789e-09      202.845900
9999   202.889625  6.404288e-02  ...  5.595873e-02      202.884105

[10000 rows x 8 columns]

In [ ]:
X = data[["suspectible","infected","recovered","beta"]]
y = data[["recovered(O)","infected(O)","suspectible(O)"]]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense,Activation
from keras.optimizers import Adam
# load the dataset
# define the keras model
model = Sequential()
model.add(Dense(64, input_dim=4, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32,  activation='relu'))
model.add(Dense(16,  activation='relu'))
model.add(Dense(16,  activation='relu'))
model.add(Dense(3, activation='relu'))
# compile the keras model
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss='mean_squared_error', optimizer=opt, metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=20, batch_size=10)

Epoch 1/20
8000/8000 [==============================] - 1s 152us/step - loss: 3672.7631 - accuracy: 0.9887
Epoch 2/20
8000/8000 [==============================] - 1s 148us/step - loss: 1474.1294 - accuracy: 0.9919
Epoch 3/20
8000/8000 [==============================] - 1s 144us/step - loss: 1503.9050 - accuracy: 0.9916
Epoch 4/20
8000/8000 [==============================] - 1s 144us/step - loss: 1455.1826 - accuracy: 0.9935
Epoch 5/20
8000/8000 [==============================] - 1s 145us/step - loss: 1564.4438 - accuracy: 0.9916
Epoch 6/20
8000/8000 [==============================] - 1s 142us/step - loss: 1199.0052 - accuracy: 0.9942
Epoch 7/20
8000/8000 [==============================] - 1s 141us/step - loss: 1114.4728 - accuracy: 0.9958
Epoch 8/20
8000/8000 [==============================] - 1s 149us/step - loss: 1136.0469 - accuracy: 0.9964
Epoch 9/20
8000/8000 [==============================] - 1s 144us/step - loss: 1310.3808 - accuracy: 0.9949
Epoch 10/20
8000/8000 [==============================] - 1s 144us/step - loss: 998.7906 - accuracy: 0.9975
Epoch 11/20
8000/8000 [==============================] - 1s 142us/step - loss: 1079.4334 - accuracy: 0.9974
Epoch 12/20
8000/8000 [==============================] - 1s 141us/step - loss: 968.0188 - accuracy: 0.9977
Epoch 13/20
8000/8000 [==============================] - 1s 143us/step - loss: 1106.1908 - accuracy: 0.9965
Epoch 14/20
8000/8000 [==============================] - 1s 142us/step - loss: 1089.9412 - accuracy: 0.9967
Epoch 15/20
8000/8000 [==============================] - 1s 144us/step - loss: 913.7338 - accuracy: 0.9980
Epoch 16/20
8000/8000 [==============================] - 1s 143us/step - loss: 1535.9890 - accuracy: 0.9945
Epoch 17/20
8000/8000 [==============================] - 1s 144us/step - loss: 1090.7928 - accuracy: 0.9952
Epoch 18/20
8000/8000 [==============================] - 1s 146us/step - loss: 1095.1855 - accuracy: 0.9973
Epoch 19/20
8000/8000 [==============================] - 1s 145us/step - loss: 979.2990 - accuracy: 0.9973
Epoch 20/20
8000/8000 [==============================] - 1s 143us/step - loss: 982.1402 - accuracy: 0.9981

In [ ]:
# evaluate the keras model
_, accuracy = model.evaluate(X_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

2000/2000 [==============================] - 0s 23us/step
Accuracy: 99.90