<a href="https://colab.research.google.com/github/dharma610/Project/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
from scipy.integrate import odeint
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 
!pip install mpld3
import mpld3
mpld3.enable_notebook()

Requirement already satisfied: mpld3 in /usr/local/lib/python3.6/dist-packages (0.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from mpld3) (2.11.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from mpld3) (3.2.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->mpld3) (1.1.1)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (1.18.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (0.10.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->mpld3) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from cycler>=0.10->matplotlib->mpld3) (1.12.0)

In [79]:
def deriv(y, t, N, beta, gamma):
    S, I, R = y
    dSdt = -beta * S * I / N
    dIdt = beta * S * I / N - gamma * I
    dRdt = gamma * I
    return dSdt, dIdt, dRdt

In [80]:
def plotsir(t, S, I, R):
  f, ax = plt.subplots(1,1,figsize=(10,4))
  ax.plot(t, S, 'b', alpha=0.7, linewidth=2, label='Susceptible')
  ax.plot(t, I, 'y', alpha=0.7, linewidth=2, label='Infected')
  ax.plot(t, R, 'g', alpha=0.7, linewidth=2, label='Recovered')

  ax.set_xlabel('Time (days)')

  ax.yaxis.set_tick_params(length=0)
  ax.xaxis.set_tick_params(length=0)
  ax.grid(b=True, which='major', c='w', lw=2, ls='-')
  legend = ax.legend()
  legend.get_frame().set_alpha(0.5)
  for spine in ('top', 'right', 'bottom', 'left'):
      ax.spines[spine].set_visible(False)
  plt.show();

In [81]:
import random
gamma = []
for i in range(1000):
    gamma.append(random.uniform(0, 1))

In [82]:
beta = []
for i in range(1000):
  beta.append(2*gamma[i])  #Parameters can be seen as list beta and gamma

In [83]:
P = []
Q = []
M  = []
for i in range(1000): #Plotted for 2 sets
  N = 1000
  S0, I0, R0 = 999, 1, 0  # initial conditions: one infected, rest susceptible
  t = np.linspace(0, 99, 100) # Grid of time points (in days)
  y0 = S0, I0, R0 # Initial conditions vector
  # Integrate the SIR equations over the time grid, t.
  ret = odeint(deriv, y0, t, args=(N, beta[i], gamma[i]))
  S, I, R = ret.T
  P.append(S)
  Q.append(I)
  M.append(R)

In [84]:
import pandas as pd

In [85]:
S_value = pd.DataFrame(P)
S_value.to_csv("Susceptible.csv")

In [86]:
I_value = pd.DataFrame(Q)
I_value.to_csv("Infected.csv")

In [87]:
R_value = pd.DataFrame(M)
R_value.to_csv("Recovered.csv")

In [88]:
S_value

        0           1           2   ...          97          98          99
0    999.0  998.641106  998.218078  ...  204.025781  203.915320  203.815208
1    999.0  995.838191  987.777001  ...  202.845900  202.845900  202.845900
2    999.0  996.986222  992.969229  ...  202.845900  202.845900  202.845900
3    999.0  998.370473  997.543821  ...  202.848125  202.847791  202.847507
4    999.0  997.804283  995.899168  ...  202.845900  202.845900  202.845900
..     ...         ...         ...  ...         ...         ...         ...
995  999.0  998.144472  996.925218  ...  202.845919  202.845915  202.845912
996  999.0  998.272226  997.281102  ...  202.846167  202.846122  202.846084
997  999.0  998.576527  998.063785  ...  203.093788  203.067011  203.043127
998  999.0  997.651980  995.403014  ...  202.845900  202.845900  202.845900
999  999.0  998.490912  997.852852  ...  202.879281  202.875067  202.871385

[1000 rows x 100 columns]

In [89]:
df1 = pd.concat([S_value, S_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [90]:
Df1 = pd.concat([S_value, S_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [91]:
df1["new"].head(1001)

0       998.218078
1       987.777001
2       992.969229
3       997.543821
4       995.899168
           ...
996     997.281102
997     998.063785
998     995.403014
999     997.852852
1000    995.625973
Name: new, Length: 1001, dtype: float64

In [92]:
df2 = pd.concat([I_value, I_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [93]:
Df2 = pd.concat([I_value, I_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [94]:
df2["new"]

0       1.390416e+00
1       6.574092e+00
2       4.003220e+00
3       1.726829e+00
4       2.546450e+00
            ...
9995    4.253836e-05
9996    5.669272e-04
9997    4.558289e-01
9998    5.290359e-09
9999    6.404288e-02
Name: new, Length: 10000, dtype: float64

In [95]:
df3 = pd.concat([R_value, R_value[[2,6,9,27,37,43,56,79,90,95]].T.stack().reset_index(name='new')['new']], axis=1)

In [96]:
Df3 = pd.concat([R_value, R_value[[3,7,10,28,38,44,57,80,91,96]].T.stack().reset_index(name='new')['new']], axis=1)

In [97]:
df3["new"]

0         0.391506
1         5.648907
2         3.027552
3         0.729350
4         1.554381
           ...
9995    797.154029
9996    797.153146
9997    796.386707
9998    797.154100
9999    797.046332
Name: new, Length: 10000, dtype: float64

In [98]:
data = pd.DataFrame(df1["new"])

In [99]:
data["new"]

0       998.218078
1       987.777001
2       992.969229
3       997.543821
4       995.899168
           ...
9995    202.845929
9996    202.846287
9997    203.157464
9998    202.845900
9999    202.889625
Name: new, Length: 10000, dtype: float64

In [100]:
data["suspectible"] = data["new"]

In [101]:
data["infected"] = df2["new"]

In [102]:
data["recovered"] = df3["new"]

In [103]:
data.drop("new",axis = 1,inplace = True)

In [104]:
data

      suspectible      infected   recovered
0      998.218078  1.390416e+00    0.391506
1      987.777001  6.574092e+00    5.648907
2      992.969229  4.003220e+00    3.027552
3      997.543821  1.726829e+00    0.729350
4      995.899168  2.546450e+00    1.554381
...           ...           ...         ...
9995   202.845929  4.253836e-05  797.154029
9996   202.846287  5.669272e-04  797.153146
9997   203.157464  4.558289e-01  796.386707
9998   202.845900  5.290359e-09  797.154100
9999   202.889625  6.404288e-02  797.046332

[10000 rows x 3 columns]

In [105]:
df4 = pd.DataFrame(beta)

In [106]:
df5 = pd.DataFrame(gamma)

In [107]:
df4[0]

0      0.330509
1      1.901992
2      1.396435
3      0.548109
4      0.939045
         ...
995    0.713363
996    0.621621
997    0.384612
998    1.032431
999    0.454165
Name: 0, Length: 1000, dtype: float64

In [108]:
df4[1] = df4[0]
df4[2] = df4[0]
df4[3] = df4[0]
df4[4] = df4[0]
df4[5] = df4[0]
df4[6] = df4[0]
df4[7] = df4[0]
df4[8] = df4[0]
df4[9] = df4[0]

In [109]:
df5[1] = df5[0]
df5[2] = df5[0]
df5[3] = df5[0]
df5[4] = df5[0]
df5[5] = df5[0]
df5[6] = df5[0]
df5[7] = df5[0]
df5[8] = df5[0]
df5[9] = df5[0]

In [110]:
df4

            0         1         2  ...         7         8         9
0    0.330509  0.330509  0.330509  ...  0.330509  0.330509  0.330509
1    1.901992  1.901992  1.901992  ...  1.901992  1.901992  1.901992
2    1.396435  1.396435  1.396435  ...  1.396435  1.396435  1.396435
3    0.548109  0.548109  0.548109  ...  0.548109  0.548109  0.548109
4    0.939045  0.939045  0.939045  ...  0.939045  0.939045  0.939045
..        ...       ...       ...  ...       ...       ...       ...
995  0.713363  0.713363  0.713363  ...  0.713363  0.713363  0.713363
996  0.621621  0.621621  0.621621  ...  0.621621  0.621621  0.621621
997  0.384612  0.384612  0.384612  ...  0.384612  0.384612  0.384612
998  1.032431  1.032431  1.032431  ...  1.032431  1.032431  1.032431
999  0.454165  0.454165  0.454165  ...  0.454165  0.454165  0.454165

[1000 rows x 10 columns]

In [111]:
df4 = pd.concat([df4, df4.T.stack().reset_index(name='new')['new']], axis=1)

In [112]:
df5 = pd.concat([df5, df5.T.stack().reset_index(name='new')['new']], axis=1)

In [113]:
data["beta"] = df4["new"]

In [114]:
data["gamma"] = df5["new"]

In [115]:
data

      suspectible      infected   recovered      beta     gamma
0      998.218078  1.390416e+00    0.391506  0.330509  0.165254
1      987.777001  6.574092e+00    5.648907  1.901992  0.950996
2      992.969229  4.003220e+00    3.027552  1.396435  0.698217
3      997.543821  1.726829e+00    0.729350  0.548109  0.274055
4      995.899168  2.546450e+00    1.554381  0.939045  0.469522
...           ...           ...         ...       ...       ...
9995   202.845929  4.253836e-05  797.154029  0.713363  0.356682
9996   202.846287  5.669272e-04  797.153146  0.621621  0.310811
9997   203.157464  4.558289e-01  796.386707  0.384612  0.192306
9998   202.845900  5.290359e-09  797.154100  1.032431  0.516216
9999   202.889625  6.404288e-02  797.046332  0.454165  0.227083

[10000 rows x 5 columns]

In [116]:
data["recovered(O)"] = Df3["new"]

In [117]:
data["infected(O)"] = Df2["new"]

In [118]:
data["suspectible(O)"] = Df1["new"]

In [119]:
data

      suspectible      infected  ...   infected(O)  suspectible(O)
0      998.218078  1.390416e+00  ...  1.639167e+00      997.719561
1      987.777001  6.574092e+00  ...  1.635662e+01      967.755969
2      992.969229  4.003220e+00  ...  7.929367e+00      985.028563
3      997.543821  1.726829e+00  ...  2.267576e+00      996.459065
4      995.899168  2.546450e+00  ...  4.051388e+00      992.872201
...           ...           ...  ...           ...             ...
9995   202.845929  4.253836e-05  ...  3.441268e-05      202.845923
9996   202.846287  5.669272e-04  ...  4.713088e-04      202.846221
9997   203.157464  4.558289e-01  ...  4.066455e-01      203.123807
9998   202.845900  5.290359e-09  ...  3.957789e-09      202.845900
9999   202.889625  6.404288e-02  ...  5.595873e-02      202.884105

[10000 rows x 8 columns]

In [120]:
X = data[["suspectible","infected","recovered","beta"]]
y = data[["recovered(O)","infected(O)","suspectible(O)"]]

In [121]:
from sklearn.model_selection import train_test_split

In [122]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [149]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense,Activation
from keras.optimizers import Adam
# load the dataset
# define the keras model
model = Sequential()
model.add(Dense(64, input_dim=4, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32, activation='relu'))
model.add(Dense(32,  activation='relu'))
model.add(Dense(16,  activation='relu'))
model.add(Dense(16,  activation='relu'))
model.add(Dense(3, activation='relu'))
# compile the keras model
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(loss='mean_squared_error', optimizer=opt, metrics=['accuracy'])
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=20, batch_size=10)

Epoch 1/20
8000/8000 [==============================] - 1s 152us/step - loss: 3672.7631 - accuracy: 0.9887
Epoch 2/20
8000/8000 [==============================] - 1s 148us/step - loss: 1474.1294 - accuracy: 0.9919
Epoch 3/20
8000/8000 [==============================] - 1s 144us/step - loss: 1503.9050 - accuracy: 0.9916
Epoch 4/20
8000/8000 [==============================] - 1s 144us/step - loss: 1455.1826 - accuracy: 0.9935
Epoch 5/20
8000/8000 [==============================] - 1s 145us/step - loss: 1564.4438 - accuracy: 0.9916
Epoch 6/20
8000/8000 [==============================] - 1s 142us/step - loss: 1199.0052 - accuracy: 0.9942
Epoch 7/20
8000/8000 [==============================] - 1s 141us/step - loss: 1114.4728 - accuracy: 0.9958
Epoch 8/20
8000/8000 [==============================] - 1s 149us/step - loss: 1136.0469 - accuracy: 0.9964
Epoch 9/20
8000/8000 [==============================] - 1s 144us/step - loss: 1310.3808 - accuracy: 0.9949
Epoch 10/20
8000/8000 [==============================] - 1s 144us/step - loss: 998.7906 - accuracy: 0.9975
Epoch 11/20
8000/8000 [==============================] - 1s 142us/step - loss: 1079.4334 - accuracy: 0.9974
Epoch 12/20
8000/8000 [==============================] - 1s 141us/step - loss: 968.0188 - accuracy: 0.9977
Epoch 13/20
8000/8000 [==============================] - 1s 143us/step - loss: 1106.1908 - accuracy: 0.9965
Epoch 14/20
8000/8000 [==============================] - 1s 142us/step - loss: 1089.9412 - accuracy: 0.9967
Epoch 15/20
8000/8000 [==============================] - 1s 144us/step - loss: 913.7338 - accuracy: 0.9980
Epoch 16/20
8000/8000 [==============================] - 1s 143us/step - loss: 1535.9890 - accuracy: 0.9945
Epoch 17/20
8000/8000 [==============================] - 1s 144us/step - loss: 1090.7928 - accuracy: 0.9952
Epoch 18/20
8000/8000 [==============================] - 1s 146us/step - loss: 1095.1855 - accuracy: 0.9973
Epoch 19/20
8000/8000 [==============================] - 1s 145us/step - loss: 979.2990 - accuracy: 0.9973
Epoch 20/20
8000/8000 [==============================] - 1s 143us/step - loss: 982.1402 - accuracy: 0.9981

In [171]:
# evaluate the keras model
_, accuracy = model.evaluate(X_test, y_test)
print('Accuracy: %.2f' % (accuracy*100))

2000/2000 [==============================] - 0s 23us/step
Accuracy: 99.90